<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body id="login"> 
    <div id="login_div">
        <form method="POST" action="/login">
            <h1 id="login_text">Login</h1>
            <input id="username" class="login_inputs" type="text" name="username" placeholder="Username" required>
            <input id="password" class="login_inputs" type="password" name="password" placeholder="Password" required>
            <button id="login_button" type="submit">Login</button>
        </form>
    </div>

    <script src="../static/script1.js"></script>
</body>
</html>